html, body {
  background-color: #212529;
  /* background-color: #154367; */
}

.barlow {
  font-family: 'Barlow';
}
.quicksand {
  font-family: 'Quicksand';
}

.MuiTypography-root {
  font-family: 'Quicksand' !important;
}

.disabled-color {
  color: #8399af;
}

input {
  outline: none;
}

.App {
  text-align: center;
  /* color: white; */
  color: black;
  font-size: calc(10px + 2vmin);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-inner {
  /* border-radius: 75px; */
  border-radius: 55px;
  /* background-color: rgb(216, 237, 255); */
  background-color: rgb(186, 222, 255);
  /* padding: 50px; */
  padding: 37px;
  justify-content: center;
  /* box-shadow: 0px 0px 55px 10px #154367; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

@media (min-width: 550px) {
  .App-inner {
    width: 430px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-startIcon>*:nth-of-type(1) {
  font-size: 25px !important;
}

.animated-input-container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animated-input-container.show {
  opacity: 1;
  transform: translateY(0);
}

.MuiTooltip-tooltip {
  background-color: #154367 !important;
  border-radius: 15px !important;
  padding: 10px !important;
  font-size: 15px !important;
  font-family: 'Quicksand' !important;
  color: #fff !important;
}